table {
	border-collapse: collapse;
}
td {
	width: 20px;
	height: 20px;
	text-align: center;
}
.selected {
	background-color: lightskyblue;
}
button {
	font-size: 16px;
	padding: 3px 10px;
	margin: 5px 10px;
}
