table {
	border-collapse: collapse;
	empty-cells: show;
}

td {
	width: 20px;
	height: 20px;
	text-align: center;
}

.wall {
	background-color: gray;
}

.snake {
  background-color: lightskyblue
}

.food {
  background-color: green
}
